.flex{
    display: flex;
}
.bg_color{
    background-color: #F5F6FF;
}
.bg_color_input{
    background-color: #EBEDFF;
}
.brr_50{
    border-radius: 50px;
}
.ff_roboto{
    font-family: 'Roboto', sans-serif;
}
.ff_roboto_bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}